@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:auto;
}
header 
{
    background: #dddddd;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
    border-bottom: solid 8px #05be87;
    padding: 50px;

}

h1{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 50px;
}
h2,
h3{
    font-family: "Roboto Condensed", sans-serif;
}
p{
    color: #9206ce;
    font-family: "Playfair Display", serif;
}

.bi{
    color: #00ffff;
}

#menu-principal{
list-style-type: none;
display: flex;
}

nav{
    overflow: hidden;
    padding: 20px 0;
}

#menu-principal a{
    text-decoration: none;
    color: #9206ce;
    font-size: 25px;
    font-weight: bolder;
    padding: 8px;
}

#menu-principal a:hover{
    color: #05be87;
    background-color: #9206ce;
}

#foto-perfil{
    width: 300px;
    border-radius: 40px;
    float: right
}

main{
    overflow: hidden;
}

section{
    overflow: hidden;
}

#proyecto{
    padding: 20px 30px;
    border-top: solid 5px #9206ce;
    margin-top: 30px;
    text-align: center;
}

#Lista-proyectos{
    display: flex;
}

.proyecto{
    float: left;
    width: 30%;
    margin-top: 20px;
}

.proyecto img{
    width: 90%;
    border-radius: 15px;
    margin-top: 10px;
}

.proyecto p {
    text-align: justify;
    padding: 10px 5px;
    color: #000000;
}

.proyecto h3 {
    color: #000000;
    font-weight: lighter;
}

#habilidades{
    overflow: hidden;
    margin-top: 10px;
    padding-bottom: 20px;
    border-top: solid 5px #9206ce;
    margin-bottom: 30px;
}

progress{
    width: 100%;
    height: 20px;
    border-radius: 5%;
    margin: 5px 0px;
}

.lista-tecnologias{
    list-style-type:  none;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    gap: 30px;
}

.lista-tecnologias li{
    background-color: #05be87;
    color: #000000;
    padding: 12px 40px;
    border-radius: 40px;
    text-align: center;
}

#contacto{
    padding: 40px;
}

.campos{
    width: 70;
    clear: both;
    font-size: 28px;
}

.campos label{
    padding-right: 20px;
}

.campos input{
    padding: 10px;
    border: solid 2px #9206ce;
    width: 50%;
    font-size: 20px;
    border-radius: 10px;
}

footer{
    overflow: hidden;
    padding: 40px 0;
    background-color: #00ffff;
    text-align: center;
    border-top: solid 5px #9206ce;
}